- if blog.tags.present?
  %h2= t('workarea.storefront.blogs.tags')
  %ul.secondary-nav{ role: 'navigation' }
    - blog.tags.each do |tag|
      %li.secondary-nav__item
        = link_to blog_tagged_path(blog, tag[:name]), class: 'secondary-nav__link' do
          = t('workarea.storefront.blogs.tag_link', tag)
