/*------------------------------------*\
    #LORA
\*------------------------------------*/

// scss-lint:disable VariableForProperty

@font-face {
    font-family: 'Lora';
    font-weight: normal;
    font-style: normal;
    src: font-url('workarea/storefront/lora/lora_regular_webfont.woff2') format('woff2'),
         font-url('workarea/storefront/lora/lora_regular_webfont.woff') format('woff');
}

@font-face {
    font-family: 'Lora';
    font-weight: normal;
    font-style: italic;
    src: font-url('workarea/storefront/lora/lora_italic_webfont.woff2') format('woff2'),
         font-url('workarea/storefront/lora/lora_italic_webfont.woff') format('woff');
}

@font-face {
    font-family: 'Lora';
    font-weight: bold;
    font-style: normal;
    src: font-url('workarea/storefront/lora/lora_bold_webfont.woff2') format('woff2'),
         font-url('workarea/storefront/lora/lora_bold_webfont.woff') format('woff');
}

@font-face {
    font-family: 'Lora';
    font-weight: bold;
    font-style: italic;
    src: font-url('workarea/storefront/lora/lora_bolditalic_webfont.woff2') format('woff2'),
         font-url('workarea/storefront/lora/lora_bolditalic_webfont.woff') format('woff');
}
