<li class="account-menu__item"><a href="<%= WORKAREA.routes.storefront.logoutPath() %>" data-analytics="{'event':'logout', 'domEvent':'click'}" data-method="delete" class="account-menu__logout-link"><%= I18n.t('workarea.storefront.users.logout') %></a></li>
