<div class="reviews__sort">
    <div class="property property--responsive">
        <label class="property__name"><span class="property__text">Sort By</span></label>
        <div class="value">
            <div class="styled-select">
                <select data-product-reviews-sort-menu="">
                    <option value="newest" selected>Most Recent</option>
                    <option value="oldest">Oldest First</option>
                    <option value="highest">Rating: High to Low</option>
                    <option value="lowest">Rating: Low to High</option>
                </select>
            </div>
        </div>
    </div>
</div>
