/*------------------------------------*\
    #ORDER-HELP-MENU
\*------------------------------------*/

$order-help-menu-item-separator:  '|' !default;


.order-help-menu {
    @extend %inline-list;
    margin: ($spacing-unit * 2) 0;
    text-align: center;
}

    /**
     * 1. adds visual separator for adjacent `.order-help-menu__item`
     */

    .order-help-menu__item {
        margin: 0 $spacing-unit;

        @include respond-to($medium-breakpoint) {
            margin: 0 ($spacing-unit * 2);
        }
    }
