/*------------------------------------*\
    #TAXONOMY-CONTENT-BLOCK
\*------------------------------------*/

$taxonomy-content-block-font: $secondary-font-family !default;
$taxonomy-content-block-font-size: 14px !default;

$taxonomy-content-block-footer-heading-decoration-height: 1px !default;
$taxonomy-content-block-footer-heading-decoration-width: 30px !default;
$taxonomy-content-block-footer-heading-decoration-color: $page-footer-heading-decoration-color !default;
$taxonomy-content-block-footer-color: $page-footer-link-color !default;
$taxonomy-content-block-footer-color-hover: $page-footer-link-color-hover !default;


/**
 * 1. Scoped styles for taxonomy content blocks in mobile navigation.
 * 2. Scoped styles for taxonomy content blocks in page footer.
 */

.taxonomy-content-block {
    margin: 0 auto;
    padding: $spacing-unit * 5 0;
    max-width: $x-wide-breakpoint;
    font-size: $taxonomy-content-block-font-size;
    font-family: $taxonomy-content-block-font;
    text-align: left;

    @include respond-to($wide-breakpoint) {
        display: table;
        width: 100%;
    }

    .mobile-nav & { /* [1] */
        padding-top: 0;
        padding-bottom: $spacing-unit * 2;
    }

    .page-footer & { /* [2] */
        padding-top: 0;
        padding-bottom: 0;
    }
}

.taxonomy-content-block--two-column {}
.taxonomy-content-block--three-column {}


    .taxonomy-content-block__container {
        @include respond-to($wide-breakpoint) {
            display: table-cell;
            width: 50%;
            vertical-align: top;
        }

        .taxonomy-content-block--two-column & {
            @include respond-to($wide-breakpoint) {
                width: 33.33%;
            }

            .page-footer & { /* [2] */
                @include respond-to($medium-breakpoint) {
                    width: 33.33%;
                }
            }
        }

        .taxonomy-content-block--three-column & {
            @include respond-to($wide-breakpoint) {
                width: 25%;
            }

            .page-footer & { /* [2] */
                @include respond-to($medium-breakpoint) {
                    width: 25%;
                }
            }
        }

        .mobile-nav & { /* [1] */
            margin-bottom: $vertical-margin;
        }

        .page-footer & { /* [2] */
            margin-bottom: $spacing-unit * 8;

            @include respond-to($medium-breakpoint) {
                display: inline-block;
                margin-bottom: 0;
                width: 50%;
                vertical-align: top;
            }
        }
    }

    .taxonomy-content-block__container--without-image {
        @include respond-to($medium-breakpoint) {
            width: 100%;
        }

        .taxonomy-content-block--two-column & {
            @include respond-to($wide-breakpoint) {
                width: 50%;
            }

            .page-footer & {
                @include respond-to($medium-breakpoint) {
                    width: 50%;
                }
            }
        }

        .taxonomy-content-block--three-column & {
            @include respond-to($wide-breakpoint) {
                width: 33.33%;
            }

            .page-footer & {
                @include respond-to($medium-breakpoint) {
                    width: 33.33%;
                }
            }
        }
    }


        .taxonomy-content-block__image-link {
            padding: $spacing-unit * 2;
        }

            .taxonomy-content-block__image {}


        .taxonomy-content-block__menu-heading {
            @extend %heading;
            @extend %heading--5;
            display: block;
            margin-bottom: $spacing-unit * 2;
            margin-left: $spacing-unit * 10;

            .mobile-nav & { /* [1] */
                margin: $spacing-unit * 2;
                margin-left: $spacing-unit * 3;
            }

            .page-footer & { /* [2] */
                position: relative;
                margin-left: 0;

                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: $taxonomy-content-block-footer-heading-decoration-width;
                    height: $taxonomy-content-block-footer-heading-decoration-height;
                    background-color: $taxonomy-content-block-footer-heading-decoration-color;
                    content: '';
                }
            }
        }

        .taxonomy-content-block__menu {
            @extend %list-reset;
            margin-left: $spacing-unit * 10;

            .mobile-nav & { /* [1] */
                margin-left: $spacing-unit * 3;
            }

            .page-footer & { /* [2] */
                margin-left: 0;
            }
        }

            .taxonomy-content-block__menu-item {
                margin-bottom: $spacing-unit * 2;

                .mobile-nav & { /* [1] */
                    margin: $spacing-unit 0 ($spacing-unit * 4);
                }

                .page-footer & { /* [2] */
                    margin-bottom: $spacing-unit;
                }
            }

            .taxonomy-content-block__menu-item--start {
                font-weight: bold;
            }

                .taxonomy-content-block__menu-link {
                    .mobile-nav & { /* [1] */
                        display: block;
                        color: $mobile-nav-link-color;
                        font-weight: normal;
                    }

                    .page-footer & {
                        color: $taxonomy-content-block-footer-color;

                        &:hover {
                            color: $taxonomy-content-block-footer-color-hover;
                        }
                    }
                }
