/*------------------------------------*\
    #FONTS
\*------------------------------------*/


/**
 * Text sizes
 */

$font-size: 14px !default;
$form-control-font-size: 16px !default;
$form-supplementary-font-size: 12px !default;
$line-height: 1.5 !default;

$letter-spacing: 1px !default;
$letter-spacing-large: 2px !default;
$letter-spacing-extra-large: 4px !default;
